* {
  box-sizing: border-box;
  font-family: Arial;
}
body {
  margin: 0;
  background: #0f172a;
  color: #fff;
}
.container {
  max-width: 800px;
  margin: 40px auto;
  background: #020617;
  padding: 30px;
  border-radius: 16px;
}
.section {
  margin-bottom: 25px;
}
.section h2 {
  border-left: 4px solid #22c55e;
  padding-left: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}
input,
select,
button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
}
button {
  background: #22c55e;
  color: #020617;
  cursor: pointer;
}
.price {
  text-align: center;
  color: #22c55e;
  font-size: 1.2rem;
}
